<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Solo_Project</title>
</head>
<body>
    <div id="wrapper">
        <h1 class="subHead">3D Print Marketplace              Welcome {{session['user_name']}}! </h1>
        <h2 class="subHead">Find, post, and purchase different 3D products!</h2>
        <a href="/users/logout" class="navLink">Logout</a>
        <a href="/products/dashboard" class="navLink">--Dashboard--</a>
        <div>
            <h1 class="subHead">{{product.product_name}} added by {{product.poster.first_name}}  {{product.poster.last_name}}</h1>
            
            <div class="displayCard">
                <p>Product Name: {{product.product_name}}</p>
                <p>Description: {{product.description}}</p>
                <iframe src="{{product.link_to_image}}" width="500" height="500"> </iframe>
                <p>Product Price: {{product.product_price}}</p>
                <p>Product Available: {{product.product_available}}</p>
                <a href="/products/cart/{{product.id}}" class="navLink">Add To Cart</a>
                
                <p>----------------------------</p>
            </div>
        </div>
    </div>
</body>
</html>